.main-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.letest-titleB p {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 15px;
    width: 128px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    background-color: #008080;
    margin-bottom: 30px;
}

.sec-newsB p {
    color: #242424;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 11.25px;
    padding-right: 15px;
    margin-bottom: 30px;
    background-color: #f3f3f3;
}
.ImgB{
    height: 200px;
    width: 100%;
    object-fit: fill;
}

.content-boxB{
    margin-bottom: 10px;
}

.content-boxB h3 {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    color: #474545;
    line-height: 1.5em;
    margin-bottom: 0px;
}

.content-boxB .post-meta {
    display: inline;
    margin-bottom: 15px !important;
}

.content-boxB .post-meta li {
    display: inline;
    color: #008080;
    font-size: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
}
.text-B{
    color: #727272;
    font-size: 15px;
    margin-top: 10px;
    text-align: justify;
}
.read-moreB {
    color: #008080 !important;
}
.read-moreB:hover {
    color: #000f80 !important;
}

.BoderB{
    border-bottom: 1px solid #00808030;

    padding-bottom: 20px;
    margin-bottom: 30px;
}


.search-boxB .form-group input[type="text"],.search-boxB .form-group input[type="search"] {
    position: relative;
    line-height: 24px;
    padding: 10px 50px 10px 20px;
    border: 2px solid #e0e0e0;
    background: none;
    display: block;
    font-size: 16px;
    width: 100%;
    height: 48px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


.adds-blockB{
    height: 150px;
}

.sidebar-widgetB {
    position: relative;
    margin-bottom: 40px;
}
/* .adds-blockB .inner-boxB:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.50);
} */






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Exo;
}
@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}
.mainX{
  width: 100%;
  height: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.profile-card{
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 0 5px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 240px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-40px);
}
.img img{
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 0 2px #3336;
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-90px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
}
.caption p{
  font-size: 16px;
  color: #0c52a1;
  margin: 2px 0 4px 0;
}
.caption .social-links a{
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}



h3{
    margin: 0;
}
a:hover, a:focus{
    text-decoration: none;
}
.testimonial{
    background: #0898da ;
    padding: 30px 32px 30px 90px;
    margin: 50px 20px 50px 120px;
    border-radius: 0 100px 100px 0;
    color: #fff;
    position: relative;
    border: 5px solid white;
}
.testimonial .pic{
    width: 210px;
    height: 210px;
    line-height: 200px;
    border-radius: 50%;
    border: 14px solid white;
    position: absolute;
    top: -15px;
    left: -120px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
}
.testimonial .testimonial-info{
    display: inline-block;
    width: 35%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 28px 25px;
    margin: 0;
    border-right: 1px solid white;
}
.testimonial .testimonial-info small{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}
.testimonial .description{
    display: inline-block;
    width: 65%;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 28px 0 28px 28px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: white;
}
.testimonial .description:after{
    content: "\f10e";
    font-family: fontawesome;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span{
    width: 25px !important;
    height: 7px !important;
    background: #4D241C !important;
    box-sizing: content-box;
}
.owl-theme .owl-controls .owl-page span{
    border: 4px solid transparent;
    background: white !important;
}
@media only screen and (max-width: 767px){
    .testimonial{
        border-radius: 40px;
        margin: 90px 15px 0;
        padding: 100px 40px 30px 40px;
    }
    .testimonial .pic{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .testimonial .testimonial-info{
        width: 100%;
        float: none;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .testimonial .description{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .testimonial{ padding: 100px 30px 30px; }
}
